{% extends 'app/base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>Projects</h1>
<div class="row">
    {% for project in projects %}
    <div class="col-md-6 mb-4">
        <div class="card">
            {% if project.image %}
            <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description|truncatewords:50 }}</p>
                <a href="{% url 'app:project_detail' project.pk %}" class="btn btn-primary">View Details</a>
                {% if project.github_link %}
                <a href="{{ project.github_link }}" class="btn btn-secondary" target="_blank">GitHub</a>
                {% endif %}
                {% if project.live_demo %}
                <a href="{{ project.live_demo }}" class="btn btn-success" target="_blank">Live Demo</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %} 